
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}
.wrapper{
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
    color: black;
    
    
}
table tr td{
    padding: 1%;
    font-size: 14px;
    text-align: left;
    color: white;
}
.btn-primary{
    background-color: red;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: orangered;
}
.btn-secondary{
    background-color: red;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: orangered;
}
.btn-danger{
    background-color: red;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: orangered;
}
.success{
    color: red;
}
.error{
    color: brown;
}
/*css for menu*/
.menu{
    border-bottom: 1px solid gray;
    background-color: rgb(158, 101, 101);
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
.menu ul li a:hover{
    color: blueviolet;
}

.staff-menu{
    border-bottom: 1px solid gray;
    background-color: rgb(158, 101, 101);
}
.staff-menu ul{
    list-style: none;
}
.staff-menu ul li{
    display: inline;
    padding: 1%;
}
.staff-menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
.staff-menu ul li a:hover{
    color: blueviolet;
}

/*css for main-content*/
.main-content{
    width: 100%;
    min-height: 75vh;
    background-repeat: no-repeat;
    background-image: url(../images/ad7.jpg);
    padding: 3% 0;
    
}
.col-4{
    width: 18%;
    background-color: aliceblue;
    margin: 1%;
    padding: 2%;
    float: left;
}
/*css for footer*/
.footer{
    background-color: rgb(240, 105, 105);
    color: white;
   
   
   
}
    

.staff-footer{
    background-color: rgb(240, 105, 105);
    color: white;
}
/* css for login */
.login{
    width:30%;
    border: 1px solid gray;
    margin: 10% auto;
    padding: 2%;
    
    
}

.login{
   color: black;
    
    
}

